body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div {
  background-image: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
